body{
  /*background: #1e1f24; */
  background-image: url(https://images.unsplash.com/photo-1577451804961-4053f81845d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  text-align: center;
  font-family: "Open Sans";
  color: #333;
  font-size: 26px;
  margin: 0;
  padding: 0;

}

#cabecera{
  /*background: #33a;*/
  background-image: url(https://images.unsplash.com/photo-1579546928686-286c9fbde1ec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 2px 20px 0px rgba(0,0,0, 0.5);
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 0.5em;
  font-size: 20px;
}

#cabecera #logo{
  width: 20px;
  vertical-align: middle;
}

#cabecera #tagline{
  /* padding: 0 0 0 1em; */
  font-weight: normal;
  font-size: 0.6em;
  text-align: center;
}

#container{
  width: 500px;
  height: auto;
  padding: 0;
  text-align: center;
  border: 2px solid #ddd;
  margin: auto;
  /* centrado
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   /* centrado */
}

#container h1{
  font-size: 20px;
}

#post{
  background: white;
  padding: 1em;
}

#footer{
  background-image: url(https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 0.5em;
}
